{:service-name "witan.gateway"
 :comms {:kinesis #profile {:development {:profile "dev"
                                          :app ^:ref [:service-name]
                                          :endpoint "kinesis.eu-central-1.amazonaws.com"
                                          :dynamodb-endpoint #or [#env DYNAMODB_ENDPOINT "http://localhost:8000"]
                                          :region-name "eu-central-1"
                                          :metric-level :NONE
                                          :streams {:event #or [#env EVENT_STREAM "witan-dev-event"]
                                                    :command #or [#env COMMAND_STREAM "witan-dev-command"]}}
                            :staging-jenkins {:profile "staging-jenkins"
                                              :app ^:ref [:service-name]
                                              :endpoint "kinesis.eu-central-1.amazonaws.com"
                                              :dynamodb-endpoint "dynamodb.eu-central-1.amazonaws.com"
                                              :region-name "eu-central-1"
                                              :metric-level :NONE
                                              :streams {:event "staging-witan-event"
                                                        :command "staging-witan-command"}}
                            :staging {:profile "staging"
                                      :app ^:ref [:service-name]
                                      :endpoint "kinesis.eu-central-1.amazonaws.com"
                                      :dynamodb-endpoint "dynamodb.eu-central-1.amazonaws.com"
                                      :region-name "eu-central-1"
                                      :metric-level :NONE
                                      :streams {:event "staging-witan-event"
                                                :command "staging-witan-command"}}
                            :prod {:profile "prod"
                                   :app ^:ref [:service-name]
                                   :endpoint "kinesis.eu-west-1.amazonaws.com"
                                   :dynamodb-endpoint "dynamodb.eu-west-1.amazonaws.com"
                                   :region-name "eu-west-1"
                                   :metric-level :NONE
                                   :streams {:event "prod-witan-event"
                                             :command "prod-witan-command"}}}}
 :events {:host #profile {:development #or [#env ZOOKEEPER "127.0.0.1"]
                          :staging-jenkins "master.mesos"
                          :staging "master.mesos"
                          :prod "master.mesos"}
          :port 2181}
 :connections {}
 :webserver {:port 30015}
 :auth {:pubkey #profile {:development #or [#env SUPER_SECRET_PUBLIC_PEM_FILE
                                            "./test-resources/heimdall-dev_pubkey.pem"]
                          :staging-jenkins #or [#env SUPER_SECRET_PUBLIC_PEM_FILE
                                                "./test-resources/heimdall-dev_pubkey.pem"]
                          :staging "/root/prod_pubkey.pem"
                          :prod "/root/prod_pubkey.pem"}}
 :metrics {:json-reporter {:seconds #profile {:development 300
                                              :staging-jenkins 300
                                              :staging 60
                                              :prod 60}}}
 :directory {:workspace {:host #profile {:development "127.0.0.1"
                                         :staging-jenkins "witan-workspace.marathon.mesos"
                                         :staging "witan-workspace.marathon.mesos"
                                         :prod "witan-workspace.marathon.mesos"}
                         :port 20015}
             :data-acquisition {:host #profile {:development "127.0.0.1"
                                                :staging-jenkins "kixi-data-acquisition.marathon.mesos"
                                                :staging "kixi-data-acquisition.marathon.mesos"
                                                :prod "kixi-data-acquisition.marathon.mesos"}
                                :port 40015}
             :heimdall #profile {:development {:host #or [#env HEIMDALL_HOST "localhost"]
                                               :port #or [#env HEIMDALL_PORT 3002]}
                                 :staging-jenkins {:host "heimdall.marathon.mesos"
                                                   :port 10010}
                                 :staging {:host "heimdall.marathon.mesos"
                                           :port 10010}
                                 :prod {:host "kixi.heimdall.marathon.mesos"
                                        :port 10010}}
             :datastore #profile {:development {:host #or [#env DATASTORE_HOST "localhost"]
                                                :port #or [#env DATASTORE_PORT 8080]}
                                  :staging-jenkins {:host "kixi.datastore.marathon.mesos"
                                                    :port 18080}
                                  :staging {:host "kixi.datastore.marathon.mesos"
                                            :port 18080}
                                  :prod {:host "kixi.datastore.marathon.mesos"
                                         :port 18080}}}
 :log {:level #profile {:development :debug
                        :staging-jenkins :debug
                        :staging :info
                        :prod  :warn}
       :options {:stacktrace-fonts {}}}
 :downloads {:timeout 10000}
 :verbose-logging? #profile {:development true
                             :staging-jenkins true
                             :staging true
                             :prod  false}}
