{:service-name "witan.gateway"
 :comms {:kinesis #profile {:development {:profile "dev"
                                          :app ^:ref [:service-name]
                                          :endpoint "kinesis.eu-central-1.amazonaws.com"
                                          :dynamodb-endpoint "http://localhost:8000"
                                          :region-name "eu-central-1"
                                          :metric-level :NONE
                                          :failover-time-millis 200
                                          :idle-time-between-reads-in-millis 200
                                          :max-records 1
                                          :streams {:command #or [#env COMMAND_STREAM "gateway-dev-command"]
                                                    :event #or [#env EVENT_STREAM "gateway-dev-event"]}}
                            :staging {:profile "staging"
                                      :app ^:ref [:service-name]
                                      :kinesis-endpoint "kinesis.eu-central-1.amazonaws.com"
                                      :dynamodb-endpoint "dynamodb.eu-central-1.amazonaws.com"
                                      :region-name "eu-central-1"
                                      :metric-level :NONE
                                      :failover-time-millis 200
                                      :idle-time-between-reads-in-millis 200
                                      :max-records 1
                                      :streams {:command "witan-staging-command"
                                                :event "witan-staging-event"}}
                            :production {:profile "production"
                                         :app ^:ref [:service-name]
                                         :kinesis-endpoint "kinesis.eu-central-1.amazonaws.com"
                                         :dynamodb-endpoint "dynamodb.eu-central-1.amazonaws.com"
                                         :region-name "eu-central-1"
                                         :metric-level :NONE
                                         :failover-time-millis 200
                                         :idle-time-between-reads-in-millis 200
                                         :max-records 1
                                         :streams {:command "witan-prod-command"
                                                   :event "witan-prod-event"}}}}
 :events {:host #profile {:development #or [#env ZOOKEEPER "127.0.0.1"]
                          :production "master.mesos"}
          :port 2181}
 :connections {}
 :webserver {:port 30015}
 :auth {:pubkey #profile {:development #or [#env SUPER_SECRET_PUBLIC_PEM_FILE
                                            "./test-resources/heimdall-dev_pubkey.pem"]
                          :production "/root/prod_pubkey.pem"}}
 :metrics {:json-reporter {:seconds #profile {:production 60
                                              :development 300
                                              :dev-docker 60
                                              :test 60
                                              :jenkins 60}}}
 :directory {:workspace {:host #profile {:development "127.0.0.1"
                                         :production "witan-workspace.marathon.mesos"}
                         :port 20015}
             :data-acquisition {:host #profile {:development "127.0.0.1"
                                                :production "kixi-data-acquisition.marathon.mesos"}
                                :port 40015}
             :heimdall #profile {:development {:host #or [#env HEIMDALL_HOST "localhost"]
                                               :port #or [#env HEIMDALL_PORT 3002]}
                                 :production {:host "heimdall.marathon.mesos"
                                              :port 10010}}
             :datastore #profile {:development {:host #or [#env DATASTORE_HOST "localhost"]
                                                :port #or [#env DATASTORE_PORT 8080]}
                                  :production {:host "kixi.datastore.marathon.mesos"
                                               :port 18080}}}
 :log {:level #profile {:development :info
                        :production  :info}
       :options {:stacktrace-fonts {}}}
 :downloads {:timeout 10000}
 :verbose-logging? #profile {:development true
                             :production  false
                             :staging true}}
